/* .slider {
  width: 900px;
  border: 2px solid #000;
  max-width: 80%;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
}
.slider-line {
  display: flex;
}
.img {
  width: 100%;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  background-color: aqua;
  border-radius: 10px;
} */
